LIFTGATE_ROLE=api
LIFTGATE_HTTP_PORT=8080
LIFTGATE_LOG_LEVEL=INFO
LIFTGATE_DATABASE_URL=jdbc:postgresql://localhost:5432/liftgate
LIFTGATE_DATABASE_USER=liftgate
LIFTGATE_DATABASE_PASSWORD=liftgate
LIFTGATE_NATS_URL=nats://localhost:4222
LIFTGATE_HAZELCAST_CLUSTER=liftgate
LIFTGATE_HAZELCAST_KUBERNETES=false
LIFTGATE_PUBLIC_URL=http://localhost:8080
LIFTGATE_DASHBOARD_URL=http://localhost:3000
LIFTGATE_DEPLOY_DOMAIN=liftgate.app
LIFTGATE_GITHUB_APP_ID=
LIFTGATE_GITHUB_APP_PRIVATE_KEY=
LIFTGATE_GITHUB_WEBHOOK_SECRET=
LIFTGATE_GITHUB_CLIENT_ID=
LIFTGATE_GITHUB_CLIENT_SECRET=
LIFTGATE_SECRETS_MASTER_KEY=
LIFTGATE_REGISTRY=registry.liftgate.internal
LIFTGATE_BUILD_IMAGE=ghcr.io/liftgate/build-image:latest
LIFTGATE_BUILD_NAMESPACE=liftgate-build
LIFTGATE_RUNTIME_CLASS=
LIFTGATE_NODE_SELECTOR=
LIFTGATE_REGISTRY_INSECURE=false
LIFTGATE_GATEWAY_NAMESPACE=liftgate-system
LIFTGATE_GATEWAY_NAME=liftgate
LIFTGATE_PROMETHEUS_URL=http://prometheus.liftgate-system:9090
LIFTGATE_LEADER_ELECTION=off
